<!DOCTYPE html>
<html>

<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>funny.com </h1>
 <h4> Hover on the picture|| Refresh </h4> 
  <div class="card">
    <p>
      <%= jokeQuestion %>
    </p>
  </div>
  <p class="user">
    <%= jokeAnswer %>
  </p>
</body>

</html>